.App {
  text-align: center;
}

.drum-key {
  font-size: 2em;
  height: 3em;
  width: 3em;
  border-radius: 0.5em;
  background-color: gray;
  color: black;
}

.drum-pad {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
